<div class="lists-bar">
  <h2 class="lists">⭐️楽曲一覧⭐️</h2>
  <div class="content">
    <p></p>
    <ul class="list-1">
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "夜に駆ける.jpg", alt: "song-1", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to '夜に駆ける', '/posts/new' %>
          <div class="singer">YOASOBI</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "あの夢をなぞって.jpg", alt: "song-2", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to 'あの夢をなぞって', '/posts/new' %>
          <div class="singer">YOASOBI</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "ハルジオン.jpg", alt: "song-3", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to 'ハルジオン', '/posts/new' %>
          <div class="singer">YOASOBI</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "たぶん.jpg", alt: "song-4", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to 'たぶん', '/posts/new' %>
          <div class="singer">YOASOBI</div>
        </h2>
      </li>
    </ul>
    <p></p>
    <ul class="list-2">
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "群青.jpg", alt: "song-5", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to '群青', '/posts/new' %>
          <div class="singer">YOASOBI</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "香水.jpg", alt: "song-6", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to '香水', '/posts/new' %>
          <div class="singer">瑛人</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "紅蓮華.jpg", alt: "song-6", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to '紅蓮華', '/posts/new' %>
          <div class="singer">LiSA</div>
        </h2>
      </li>
      <li class="list">
        <%= link_to '/posts/new' do %>
          <%= image_tag "I LOVE.jpg", alt: "song-6", id: "assets", class: "image" %>
        <% end %>
        <h2 class="list-name">
          <%= link_to 'I LOVE', '/posts/new' %>
          <div class="singer">Official髭男dism</div>
        </h2>
      </li>
    </ul>
  </div>
</div>
